{#
/**
 * @file tpo_popup.html.twig
 * Default theme implementation to present Popup data.
 *
 * This template is used when viewing Popup pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_tpo_popup()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('tpo_popup') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
